#   Configure server to allow anonymous access
#
bind
    echo = I: accepting FILEMQ connections on port 6000
    endpoint = tcp://*:6000

security
    echo = I: server accepts anonymous access
    anonymous = 1
